* {
    margin: 0;
}
head {
    width: 300px;
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-left: 60px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(img/eldanka.jpg);
}
p {
    margin-top: 40px;
    margin-left: 60px;
    color: black;
}
button {
    margin-top: 0px;
    margin-left: 30px;
    background-color: rgb(92  ,121,134);
    width: 180px;
    height: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px; 
}
img {
    margin-left :450px;
    margin-top : -300px;
    width: 300px;
    height: 350px; 
}
body {
    background: rgb(102  ,102,199);
}